In [1]:
import pandas as pd
df_jeux_all = pd.read_csv("athlete_JO_events.csv")

In [2]:
df_marathon_men_jo = df_jeux_all[df_jeux_all['Event']=="Athletics Men's Marathon"].reset_index()

In [4]:
df_marathon_men_jo = df_marathon_men_jo.drop(columns='index')
df_marathon_men_jo

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,166,Omari Abdallah,M,21.0,168.0,57.0,Tanzania,TAN,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Men's Marathon,NaN
1,175,Abdelgani Hassan Abdel Fattah,M,31.0,NaN,NaN,Egypt,EGY,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Men's Marathon,NaN
2,254,Talal Omar Abdillahi,M,25.0,170.0,57.0,Djibouti,DJI,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Men's Marathon,NaN
3,256,"Abdihakim ""Abdi"" Abdirahman",M,35.0,178.0,61.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Marathon,NaN
4,289,Abdul Haji Abdul Latheef,M,17.0,168.0,54.0,Maldives,MDV,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Men's Marathon,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2088,135127,Darko ivanovi,M,25.0,178.0,64.0,Serbia,SRB,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Marathon,NaN
2089,135218,Valrijs olnerovis,M,27.0,180.0,67.0,Latvia,LAT,2012 Summer,2012,Summer,London,Athletics,Athletics Men's Marathon,NaN
2090,135427,Frank Thomas Zuna,M,31.0,175.0,69.0,United States,USA,1924 Summer,1924,Summer,Paris,Athletics,Athletics Men's Marathon,NaN
2091,135529,Vlastimil Zwiefelhofer,M,27.0,170.0,63.0,Czechoslovakia,TCH,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Men's Marathon,NaN
2092,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN

In [5]:
df_marathon_women_jo = df_jeux_all[df_jeux_all['Event']=="Athletics Women's Marathon"].reset_index()

In [7]:
df_marathon_women_jo = df_marathon_women_jo.drop(columns='index')
df_marathon_women_jo

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,95,Georgia Abatzidou,F,35.0,155.0,43.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Marathon,NaN
1,397,Mara Abel Diguez,F,29.0,163.0,46.0,Spain,ESP,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Marathon,NaN
2,574,rika Abril Surez,F,34.0,164.0,52.0,Colombia,COL,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Marathon,NaN
3,574,rika Abril Surez,F,38.0,164.0,52.0,Colombia,COL,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Marathon,NaN
4,929,Berhane Adere Debala,F,35.0,170.0,50.0,Ethiopia,ETH,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,134789,Zhou Chunxiu,F,25.0,162.0,45.0,China,CHN,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Marathon,NaN
741,134789,Zhou Chunxiu,F,29.0,162.0,45.0,China,CHN,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,Bronze
742,134861,Zhu Xiaolin,F,24.0,168.0,50.0,China,CHN,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,NaN
743,134861,Zhu Xiaolin,F,28.0,168.0,50.0,China,CHN,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Marathon,NaN
744,135477,Vaida sinait,F,28.0,167.0,50.0,Lithuania,LTU,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Marathon,NaN

In [8]:
df_marathon_women_jo.to_csv('df_marathon_women_jo.csv')

In [9]:
df_marathon_men_jo.to_csv('df_marathon_men_jo.csv')