In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import re

# Initialize an empty list to store the extracted data
rows = []


url = f"https://results.tcslondonmarathon.com/2023/?pid=search"

# Configuration du navigateur

driver = webdriver.Chrome()

# Envoi de la requête et récupération du contenu HTML
driver.get(url)

# Trouver les éléments td directement
td_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")

# Diviser les données en groupes de six (si chaque ligne a six colonnes)
data = [td.text.strip() for td in td_elements]

data = data[16:-6]

for d in data: 
            
    # Append the extracted data to the list
    rows.append({
        'Place (Overall)': d.split('\n')[0],
        'Place (Gender)': d.split('\n')[1],
        'Place (Category)': d.split('\n')[2],
        'Name': d.split('\n')[3],
        'ClubRunner': d.split('\n')[4],
        'Number': d.split('\n')[5],
        'Category': d.split('\n')[6],
        'Event': d.split('\n')[7],
        'Half': d.split('\n')[8],
        'Finish': d.split('\n')[9]
        })

# Create the DataFrame
df = pd.DataFrame(rows)

# Display the DataFrame
df

In [ ]:
df.to_csv('marathon_London_2023.csv')

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# Initialize an empty list to store the extracted data
rows = []

for i in range(1, 30):
    # URL à scraper
    #url mass_men = f"https://results.tcslondonmarathon.com/2023/?page={i}&event=ELIT&pid=search&search%5Bsex%5D=%25&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=name"
    #url mass_women = f"https://results.tcslondonmarathon.com/2023/?page={i}&num_results=1000&pid=search&search_sort=place_nosex"
    #
    url = f"https://results.tcslondonmarathon.com/2023/?page={i}&event=MAS&num_results=1000&pid=search&search%5Bsex%5D=M&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"
    #url = f"https://results.tcslondonmarathon.com/2023/?pid=search"
    # Configuration du navigateur
    driver = webdriver.Chrome()

    # Envoi de la requête et récupération du contenu HTML
    driver.get(url)

    # Trouver les éléments td directement
    td_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")

    # Diviser les données en groupes de six (si chaque ligne a six colonnes)
    data = [td.text.strip() for td in td_elements]

    # Adjust the range to include all relevant data
    data = data[16:-5]

    for d in data:
        # Split the line using the newline character and handle extra spaces
        line_split = [item.strip() for item in d.split('\n') if item.strip()]

        # Append the extracted data to the list
        if len(line_split) >= 10:
            rows.append({
                'Place (Overall)': line_split[0],
                'Place (Gender)': line_split[1],
                'Place (Category)': line_split[2],
                'Name': line_split[3],
                'ClubRunner': line_split[4],
                'Number': line_split[5],
                'Category': line_split[6],
                'Event': line_split[7],
                'Half': line_split[8],
                'Finish': line_split[9] if len(line_split) == 10 else None
            })

# Create the DataFrame
df = pd.DataFrame(rows)

# Display the DataFrame
df

,Place (Overall),Place (Gender),Place (Category),Name,ClubRunner,Number,Category,Event,Half,Finish
0,1,1,1,"Kawauchi, Yuki (JPN)",–,2026,18-39,Mass,01:05:08,02:13:18
1,2,2,2,"Lepretre, Alexander (GBR)",Highgate Harriers,1094,18-39,Mass,01:05:59,02:15:01
2,3,3,3,"Hoad, James (GBR)",Thames Hare & Hounds,1640,18-39,Mass,01:08:30,02:18:38
3,4,4,1,"Abdulaziz, Ebrahim (NOR)",–,5944,40-44,Mass,01:07:46,02:18:41
4,5,5,4,"Hogan, Sean (GBR)",Southampton Athletic Club,1481,18-39,Mass,01:08:56,02:18:47
...,...,...,...,...,...,...,...,...,...,...
19995,47287,27997,1902,"Nielsen, Per kenneth (DEN)",–,53494,55-59,Mass,02:57:02,06:34:35
19996,47291,27998,3350,"Peterson-pearce, Mat (GBR)",–,63603,50-54,Mass,02:56:15,06:34:41
19997,47296,27999,4542,"Wiltshire, Craig (GBR)",–,20874,40-44,Mass,02:52:31,06:34:50
19998,47301,28000,12675,"Lobb, Richard (GBR)",–,25285,18-39,Mass,02:50:48,06:34:58
19999,47304,28001,12676,"Daley, Beau (GBR)",–,50475,18-39,Mass,02:43:54,06:35:01

In [2]:
df.to_csv('london_marathon_MASS_men_2023.csv')

In [ ]:
df