In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

# URL à scraper
url = "https://worldathletics.org/stats-zone/road-to/7153115?eventId=10229534"

# Configuration du navigateur
driver = webdriver.Chrome()

# Envoi de la requête et récupération du contenu HTML
driver.get(url)

# Trouver les éléments td directement
td_elements = driver.find_elements(By.CSS_SELECTOR, "tr > td")

# Diviser les données en groupes de six (si chaque ligne a six colonnes)
data = [td.text.strip() for td in td_elements]
grouped_data = [data[i:i+6] for i in range(0, len(data), 6)]

# Colonnes du DataFrame
columns = ['QP', 'CP', 'Nat', 'Name', 'Statut', 'Details']

# Créer le DataFrame
df = pd.DataFrame(grouped_data, columns=columns)

# Afficher le DataFrame
print(df)

# Fermer le navigateur
driver.quit()

     QP   CP  Nat                    Name                       Statut  \
0     1    1  ETH            Tigst ASSEFA  Qualified by Entry Standard
1     2    1  NED            Sifan HASSAN  Qualified by Entry Standard
2     3    2  ETH   Amane Beriso SHANKULE  Qualified by Entry Standard
3     4    1  KEN        Ruth CHEPNGETICH  Qualified by Entry Standard
4     5    3  ETH         Worknesh DEGEFA  Qualified by Entry Standard
..   ..  ...  ...                     ...                          ...
337  93    3  MEX  Isabel OROPEZA VAZQUEZ  Next best by World Rankings
338       27  USA          Maggie MONTOYA  Next best by World Rankings
339      119  ETH             Selam FENTE  Next best by World Rankings
340      120  ETH          Jemila WORTESA  Next best by World Rankings
341      121  ETH          Gelane SENBETE  Next best by World Rankings

                                       Details
0         2:11:53 - Berlin (GER) - 24 SEP 2023
1    2:13:44 - Chicago, IL (USA) - 08 OCT 2023
2       2:14:58 - Valencia (ESP) - 04 DEC 2022
3    2:15:37 - Chicago, IL (USA) - 08 OCT 2023
4       2:15:51 - Valencia (ESP) - 03 DEC 2023
..                                         ...
337                              318th - 1145p
338                              319th - 1145p
339                              320th - 1145p
340                              321st - 1144p
341                              323rd - 1144p

[342 rows x 6 columns]

In [2]:
df

,QP,CP,Nat,Name,Statut,Details
0,1,1,ETH,Tigst ASSEFA,Qualified by Entry Standard,2:11:53 - Berlin (GER) - 24 SEP 2023
1,2,1,NED,Sifan HASSAN,Qualified by Entry Standard,"2:13:44 - Chicago, IL (USA) - 08 OCT 2023"
2,3,2,ETH,Amane Beriso SHANKULE,Qualified by Entry Standard,2:14:58 - Valencia (ESP) - 04 DEC 2022
3,4,1,KEN,Ruth CHEPNGETICH,Qualified by Entry Standard,"2:15:37 - Chicago, IL (USA) - 08 OCT 2023"
4,5,3,ETH,Worknesh DEGEFA,Qualified by Entry Standard,2:15:51 - Valencia (ESP) - 03 DEC 2023
...,...,...,...,...,...,...
337,93,3,MEX,Isabel OROPEZA VAZQUEZ,Next best by World Rankings,318th - 1145p
338,,27,USA,Maggie MONTOYA,Next best by World Rankings,319th - 1145p
339,,119,ETH,Selam FENTE,Next best by World Rankings,320th - 1145p
340,,120,ETH,Jemila WORTESA,Next best by World Rankings,321st - 1144p
341,,121,ETH,Gelane SENBETE,Next best by World Rankings,323rd - 1144p

In [3]:
df.to_csv('Women_Qualified_JO2024.csv', index=False)

In [ ]:
# Mens list URL
#https://worldathletics.org/stats-zone/road-to/7153115?eventId=10229634