In [ ]:
#faite une data frame de cette liste sachant que : 'Place Overall', ' Place Gender', Name ',
# 'Year', 'Event', 'BIB', 'Division' et 'Finish' sont les colonnes de la df

In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import re

# Initialize an empty list to store the extracted data
#rows = []

#for i in range(1, 2):
    # URL à scraper
    #url = f"https://chicago-history.r.mikatiming.de/2022/?page={i}&event=MAR_9TGG9638119&lang=EN_CAP&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"
    url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"
    # Configuration du navigateur
    driver = webdriver.Chrome()

    # Envoi de la requête et récupération du contenu HTML
    driver.get(url)

    # Trouver les éléments td directement
    td_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")

    # Diviser les données en groupes de six (si chaque ligne a six colonnes)
    data = [td.text.strip() for td in td_elements]

    data = data[2:]
"""
    # Cumulatively concatenate every two lines
    cumulative_lines = [' '.join(data[i:i + 2]) for i in range(0, len(data), 2)]

    # Extract information for each row
    for line in cumulative_lines:
        # Split the line using different delimiters (',' and whitespace)
        line_split = [item.strip() for item in re.split(',|\s', line) if item.strip()]
        
        # Append the extracted data to the list
        rows.append({
            'Place Overall': line_split[0],
            'Place Gender': line_split[1],
            'Name': ' '.join(line_split[2:-4]),
            'Country': line_split[-4],
            'BIB': line_split[-3],
            'Division': line_split[-2],
            'FinishTime': line_split[-1]
        })

# Create the DataFrame
df = pd.DataFrame(rows)

# Display the DataFrame
print(df)
"""

In [ ]:
data

In [ ]:
df.to_csv('marathon_chicago_2023.csv')

In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import re

# Initialize an empty list to store the extracted data
rows = []

for i in range(1, 2):
    # URL à scraper
    url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"

    # Configuration du navigateur
    driver = webdriver.Chrome()

    # Envoi de la requête et récupération du contenu HTML
    driver.get(url)

    # Trouver les éléments td directement
    td_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")

    # Diviser les données en groupes de six (si chaque ligne a six colonnes)
    data = [td.text.strip() for td in td_elements]

    data = data[18:]

    # Cumulatively concatenate every two lines
    cumulative_lines = [' '.join(data[i:i + 2]) for i in range(0, len(data), 2)]

    # Extract information for each row
    for line in cumulative_lines:
        # Split the line using different delimiters (',' and whitespace)
        line_split = [item.strip() for item in re.split(',|\s', line) if item.strip()]

        # Append the extracted data to the list
        rows.append({
            'Place Overall': line_split[0],
            'Place Gender': line_split[1],
            'Name': ' '.join(line_split[2:-4]),
            'Country': line_split[-4],
            'BIB': line_split[-3],
            'Division': line_split[-2],
            'HALF': line_split[-5],
            'Finish': line_split[-1]
        })

# Create the DataFrame
df = pd.DataFrame(rows)

# Display the DataFrame
df

In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import re

# Initialize an empty list to store the extracted data
rows = []

for i in range(1, 50):
    # URL à scraper
    url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"

    # Configuration du navigateur
    driver = webdriver.Chrome()

    # Envoi de la requête et récupération du contenu HTML
    driver.get(url)

    # Trouver les éléments td directement
    td_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")

    # Diviser les données en groupes de six (si chaque ligne a six colonnes)
    data = [td.text.strip() for td in td_elements]

    data = data[18:]

    # Cumulatively concatenate every two lines
    cumulative_lines = [' '.join(data[i:i + 2]) for i in range(0, len(data), 1)]

    # Extract information for each row
    for line in cumulative_lines:
        # Split the line using different delimiters (',' and whitespace)
        line_split = [item.strip() for item in re.split(',|\s', line) if item.strip()]

        # Check if there is enough data
        if len(line_split) >= 6:
            # Extract the name by joining everything between 'Place Gender' and 'BIB'
            #name_start = line.find(line_split[1])
            #name_end = line.find(line_split[-3])
            #name = line[name_start:name_end].strip()

            # Append the extracted data to the list
            rows.append({
                'Place Overall': line_split[0],
                'Place Gender': line_split[1],
                'Name': line_split[2]+' '+line_split[3] + ' ' +line_split[4],
                'BIB': line_split[5],
                'Division': line_split[6],
                'HALF': line_split[7],  # Please adjust this value
                'Finish': line_split[8],  # Please adjust this value
                'add': line_split[9]
            })

# Create the DataFrame
df = pd.DataFrame(rows)

# Display the DataFrame
df

In [ ]:
df

In [ ]:
df.to_csv('marathon_chicago_2023.csv')

In [ ]:
pip install html5lib

In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup


# URL to scrape
url = "https://results.chicagomarathon.com/2023/?page=1&event=MAR&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"

# Browser configuration
driver = webdriver.Chrome()
driver.get(url)

# Allow some time for the page to load
time.sleep(2)

# Initial scrape for the first page
soup = BeautifulSoup(driver.page_source, 'lxml')

data_table = driver.find_elements(By.CSS_SELECTOR, "ul > li")

# Check the structure of the page and identify the appropriate element to scrape
#Adjust the selector based on the actual HTML structure of the page
#data_table = soup.find('table', {'class': 'col-sm-12 row-xs"'})
#td_elements = 
# Read the table data into a DataFrame
df1 = pd.read_html(str(data_table))[0]

# Close the browser when done


# Now df1 contains the data from the first page

In [ ]:
soup

In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# URL to scrape
url = "https://results.chicagomarathon.com/2023/?page=1&event=MAR&num_results=1000&pid=search&search%5Bage_class%5D=%25&search%5Bsex%5D=%25&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"

# Browser configuration
driver = webdriver.Chrome()
driver.get(url)

# Allow some time for the page to load
time.sleep(2)

# Extract text content from all li elements
li_elements = driver.find_elements(By.CSS_SELECTOR, "ul > li")
data_list = [element.text for element in li_elements]

# Convert the list into a DataFrame
df1 = pd.DataFrame(data_list, columns=["Data"])

# Close the browser when done
driver.quit()

# Now df1 contains the data from the first page
print(df1)

In [ ]:
df1

In [13]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# Initialize an empty DataFrame to store the final results
df_final_men_2023 = pd.DataFrame()

for i in range(1, 27):
    # URL to scrape
    #menurl = f"https://results.chicagomarathon.com/2023/?page{i}&event=MAR&num_results=1000&pid=search&pidp=start&search%5Bage_class%5D=%25&search%5Bsex%5D=M&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"
    #url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=search&pidp=start&search%5Bage_class%5D=%25&search%5Bsex%5D=W&search%5Bnation%5D=%25&search%5Bstate%5D=%25&search_sort=place_nosex"
    url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=list&pidp=start&search%5Bsex%5D=M&search%5Bage_class%5D=%25"
    #url = f"https://results.chicagomarathon.com/2023/?page={i}&event=MAR&num_results=1000&pid=list&pidp=start&search%5Bsex%5D=W&search%5Bage_class%5D=%25"
    # Browser configuration
    driver = webdriver.Chrome()
    driver.get(url)

    # Allow some time for the page to load
    time.sleep(2)

    # Extract text content from all elements with class "list-group-item row"
    elements = driver.find_elements(By.CLASS_NAME, "list-group-item.row")
    data_list = [element.text for element in elements]

    # Convert the list into a DataFrame
    df1 = pd.DataFrame(data_list, columns=["Data"])

    # Concatenate df1 to df_final
    df_final_men_2023 = pd.concat([df_final_men_2023, df1], ignore_index=True)

    # Close the browser when done
    driver.quit()

# Display the final DataFrame
df_final_men_2023

                                                    Data
0      Place Overall\nPlace Gender\nName (CTZ)\nBIB\n...
1      1\n1\nKiptum, Kelvin (KEN)\n2\n20-24\n–\n01:00...
2      2\n2\nKipruto, Benson (KEN)\n1\n30-34\n–\n01:0...
3      3\n3\nAbdi, Bashir (BEL)\n3\n30-34\n–\n01:02:2...
4      4\n4\nKorir, John (KEN)\n7\n25-29\n–\n01:02:21...
...                                                  ...
25762  48401\n25740\nGreiersen, Anton (GER)\n63137\n5...
25763  48413\n25741\nWooldridge, Kevin (USA)\n68283\n...
25764  48414\n25742\nMoon, Larry (USA)\n1435\n80+\n–\...
25765  48415\n25743\nTerzakis, George (USA)\n47136\n5...
25766  48416\n25744\nBruce, Eric (USA)\n45820\n60-64\...

[25767 rows x 1 columns]

In [14]:
df_men = pd.DataFrame(df_final_men_2023['Data'].str.split(pat="\n"))

In [15]:
df_split_men = df_men['Data'].apply(pd.Series)

In [16]:
df_split_men

,0,1,2,3,4,5,6,7
0,Place Overall,Place Gender,Name (CTZ),BIB,Division,Time,HALF,Finish
1,1,1,"Kiptum, Kelvin (KEN)",2,20-24,–,01:00:48,02:00:35
2,2,2,"Kipruto, Benson (KEN)",1,30-34,–,01:02:21,02:04:02
3,3,3,"Abdi, Bashir (BEL)",3,30-34,–,01:02:21,02:04:32
4,4,4,"Korir, John (KEN)",7,25-29,–,01:02:21,02:05:09
...,...,...,...,...,...,...,...,...
25762,48401,25740,"Greiersen, Anton (GER)",63137,55-59,–,–,08:29:33
25763,48413,25741,"Wooldridge, Kevin (USA)",68283,55-59,–,–,09:00:29
25764,48414,25742,"Moon, Larry (USA)",1435,80+,–,03:58:17,09:17:20
25765,48415,25743,"Terzakis, George (USA)",47136,55-59,–,–,09:18:19
25766,48416,25744,"Bruce, Eric (USA)",45820,60-64,–,–,09:19:32

In [17]:
df_split_men.columns = df_split_men.iloc[0]

# Drop the first row (which is now duplicated as column headers)
df_split_men = df_split_men.iloc[1:]

# Reset index if needed
df_split_men = df_split_men.reset_index(drop=True)

# Display the final DataFrame
print(df_split_men)

0     Place Overall Place Gender                 Name (CTZ)    BIB Division  \
0                 1            1       Kiptum, Kelvin (KEN)      2    20-24
1                 2            2      Kipruto, Benson (KEN)      1    30-34
2                 3            3         Abdi, Bashir (BEL)      3    30-34
3                 4            4          Korir, John (KEN)      7    25-29
4                 5            5  Tura Abdiwak, Seifu (ETH)      6    25-29
...             ...          ...                        ...    ...      ...
25761         48401        25740     Greiersen, Anton (GER)  63137    55-59
25762         48413        25741    Wooldridge, Kevin (USA)  68283    55-59
25763         48414        25742          Moon, Larry (USA)   1435      80+
25764         48415        25743     Terzakis, George (USA)  47136    55-59
25765         48416        25744          Bruce, Eric (USA)  45820    60-64

0     Time      HALF    Finish
0        –  01:00:48  02:00:35
1        –  01:02:21  02:04:02
2        –  01:02:21  02:04:32
3        –  01:02:21  02:05:09
4        –  01:02:21  02:05:29
...    ...       ...       ...
25761    –         –  08:29:33
25762    –         –  09:00:29
25763    –  03:58:17  09:17:20
25764    –         –  09:18:19
25765    –         –  09:19:32

[25766 rows x 8 columns]

In [19]:
df_split_men.to_csv('marathon_chicago_men_2023.csv')